.sectionBtn {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: end;
}

.copyBtn {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-right: 1rem;
    cursor: pointer;
    font-size: .75rem;
}

.todoSuggest {
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -5rem;
    right: 1rem;
    color: gray;
}

.copyBtn:hover {
    border-color: #DB7676;
}